div:before, div:after {content:''; display:table;}

aside {position:relative; display:block;}
ul {list-style-type:none;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
input, textarea {outline:none; background:none;}

body {
  background: #fff;
  color: #222;
}

body, textarea, pre, input {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

h1,h2,h3,h4,h5,#text-title pre {
  font-weight: 900;
  word-wrap: break-word;
  line-height: 1.3em;
}

h1,
#text-title pre,
#text-title textarea {
  font-weight: 900;
  font-size: 35px;
}

p {
  color: #555;
}

a,
a:visited
a:active {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a:hover,
#admin #published h3 a:hover {
  color: $linkhover;
}

header {
  width: 162px;
  border-right: 1px solid #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px 40px;

  span {
    color: #888;
    font-weight: 500;

    &.powered-by {
      position: absolute;
      bottom: 30px;
      font-size: 11px;
    }
  }

  ul {
    padding: 0;
    margin: 50px 0;
  }

  li {
    margin: 0 0 3px 0;

    a {
      padding: 2px 0;
      color: #888;
      border-bottom: 2px solid #eee;

      &:hover {
        border-color: #777;
        color: #444;
      }
    }
  }
}

#container {
  margin-left: 243px;
  position: relative;

  time {
    display: block;
    padding: 20px 0 20px 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
  }
}

#content {
  article {
    padding: 26px 0 40px 50px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  h1.external {
    margin-top: 25px;
    font-size: 18px;

    .permalink {
      margin-left: 8px;
      font-size: 19px;
      color: #999;
      border: none;
    }
  }
}

.show #content article {
  border-bottom: none;
}

code {
    font-size: 13px;
    background: #F2F2F2;
    padding: 20px;
    margin: 20px;
    display: block;
}

.contain {
  width: 600px;
  position: relative;
}

.contain img {
  max-width: 100%;
  height: auto;
}

.button.secondary {
  padding: 0 5px;
  background: #aaa;
  font-size: 12px;
}

.button.space-top {
  margin-top: 100px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.actions {
  position: absolute;
  top: 0;
  right: -60px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin: 0 8px 0 0;
}

.notice {
  position: absolute;
  top: 0;
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
}

#text-title {
  margin: 23px 0;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
}

#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0;
}
