<!DOCTYPE html>
<html>
<head>
	<title>Title</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/kube.css') }}/>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/master.css') }}/>
  <script type="text/javascript" src="{{ url_for('static',filename='js/kube.js') }}"></script>
	<script src="http://code.jquery.com/jquery.min.js"></script>

</head>
<body>
  <div class="units-row">
    <div id="sidebar" class="unit-30">Hello</div>
    <div class="unit-70">World</div>
  </div>
</body>
</html>