<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Archer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- jQuery 2.0.0 -->
        <script src="{{ url_for('static', filename='jquery-2.0.0.js') }}"></script>

        <!-- Less stuff -->
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='style.less') }}"/>

        <script src="{{ url_for('static', filename='less-1.3.3.min.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <h1>Archer</h1>
            <div>A blog using Pony and Flask -<a href="https://github.com/gregimba/Archer">Read More</a> </div>
        </header>
    </body>
</html>